<html>
    <body>
        <form action="/" method="POST">
            Weight in LBS 
            <input type="text" name="weight"><br>
            Height in Feet 
            <label for="height_ft">Height Feet:</label>
            <select name="height_ft" id="feet">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br>
            Height in Inches 
            <label for="height_inch">Height Inches:</label>
            <select name="height_inch" id="inch">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
            </select>
            <button type="submit" value="submit">Calculate</button>
        </form>

        {% if bmi %}
        <p> Your BMI is: {{bmi}}</p>
        <p> {{category}}</p>
        {% endif %}
        
    </body>
</html>

